.app {
  /* text-align: center; */
  height: 100vh;
}

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgb(252, 163, 127);
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-align: y mandatory;
  position: relative;
  &::-webkit-scrollbar{
    display: none;
  }

  > * {
    width: 100vw;
    height: calc(100vh - 70px);
  }

}

/* .App-header {
  background-color: #edf2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
